body {
    margin: 0;
    background: #1B244A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    width: 400px;
    ;
}

h3 {
    color: #eee;
    font-size: 40px;
    margin: 0;
    text-align: center;
}

span {
 background: #080001;   
 color: #F94F6D;
 font-size: 90px;
 font-family: 'Cursed Timer ULiL', sans-serif;     
 padding: 20px 0px 0px;
 text-align: center;
 min-width: 150px;
 margin: 21px 0 26px;
 border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
}

button {
    background: transparent;
    border: 1px solid #9AABD8;
    padding: 8px;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;                                        
}

.group-button {
    display: flex;
    justify-content: space-between;
}

#newGame {
    display: block;
    width: 300px;
    padding: 10px;
    margin: 20px auto;
    color: #1B244A;
    background: #eee;
}